body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(201, 55, 67, 0.411);
    filter: brightness(50%);
    color:black;
    
  }

  Header {
    border-width: 100px;
    border-radius: 8px;
    padding: 20px;
    color: black;

  }
  
  
  .login-container {
    max-width: 300px;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-top: 20px;
    border-width: 100px;
  }